:root {
  box-sizing: border-box;

  --bg-body: hsl(30, 38%, 92%);
  --bg-card: hsl(0, 0%, 100%);

  --clr-accent: hsl(158, 36%, 37%);
  --clr-dark: hsl(212, 21%, 14%);
  --clr-light: hsl(228, 12%, 48%);

  --clr-links: hsl(228, 45%, 44%);

  --btn-bg: hsl(158, 36%, 37%);
  --btn-bg-focus: hsl(156, 42%, 18%);
  --btn-txt: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--bg-body);
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  margin: 0;

  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

main {
  flex: 1;
  padding-block: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;

  /* Source: https://www.a11yproject.com/posts/how-to-hide-content/ */
}

.product-card {
  background-color: var(--bg-card);
  max-width: min(90%, 24rem);

  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--clr-light);

  border-radius: 0.625rem;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.product-card__desktop-img {
  display: none;
}

.product-card__body {
  padding: 1.45rem;
}

.product-card__category {
  margin-block-start: 0;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.66ch;
}

.product-card__title {
  margin-block-start: 0;
  font-family: "Fraunces", serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  color: var(--clr-dark);
}

.product-card__prices {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 1.33rem;
}

.product-card__prices > * {
  margin: 0;
  margin-block-end: 0.75rem;
}

.product-card__price {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 2rem;
  color: var(--clr-accent);
}

.product-card__price-old {
  text-decoration: line-through;
}

.product-card__btn-add-to-cart {
  all: unset;

  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: inherit;
  line-height: 1;
  text-align: center;
  color: var(--btn-txt);

  cursor: pointer;

  background-color: var(--btn-bg);

  width: 100%;
  padding-block: 1rem;
  border-radius: 0.5rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.75rem;

  transition: all 75ms ease-in-out;
}

.product-card__btn-add-to-cart:focus,
.product-card__btn-add-to-cart:focus-visible,
.product-card__btn-add-to-cart:hover {
  background-color: var(--btn-bg-focus);
}

.product-card__btn-add-to-cart:focus-visible {
  outline: 2px solid black;
  outline-offset: 3px;
}

.product-card__btn-add-to-cart:active {
  transform: scale(97%);
}

.attribution {
  padding-block-start: 1rem;
  padding-block-end: 0.25rem;
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: var(--clr-links);
}

@media screen and (min-width: 48rem) {
  .product-card {
    flex-direction: row;
    max-width: min(90%, 38rem);
  }

  .product-card * {
    margin: 0;
  }

  .product-card__mobile-img {
    display: none;
  }

  .product-card__desktop-img {
    display: block;
  }

  .product-card__img,
  .product-card__body {
    flex-basis: 50%;
  }

  .product-card__body {
    padding: unset;
    padding-inline: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
  }
}
