/* 
font-family: "Roboto", sans-serif;
font-family: "Montserrat", sans-serif;
font-family: "Fraunces", serif;

https://css-tricks.com/a-complete-guide-to-links-and-buttons/

https://a11y-guidelines.orange.com/en/web/components-examples/price-vocalization/

https://www.a11yproject.com/posts/how-to-hide-content/
*/

:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.product-card {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
}

.product-card__title {
  font-family: "Fraunces", serif;
  font-weight: 700;
}

.product-card__price {
  font-family: "Fraunces", serif;
  font-weight: 700;
}

.product-card__price-old {
  text-decoration: line-through;
}

.product-card__btn-add-to-cart {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
