/* 
font-family: "Roboto", sans-serif;
font-family: "Montserrat", sans-serif;
font-family: "Fraunces", serif;

https://css-tricks.com/a-complete-guide-to-links-and-buttons/

https://a11y-guidelines.orange.com/en/web/components-examples/price-vocalization/

https://www.a11yproject.com/posts/how-to-hide-content/
*/

:root {
  box-sizing: border-box;

  --bg-body: hsl(30, 38%, 92%);
  --bg-card: hsl(0, 0%, 100%);
  --clr-accent: hsl(158, 36%, 37%);
  --clr-dark: hsl(212, 21%, 14%);
  --clr-light: hsl(228, 12%, 48%);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--bg-body);
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.product-card {
  background-color: var(--bg-card);
  max-width: min(90%, 24rem);
  margin-inline: auto;

  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--clr-light);

  border-radius: 0.625rem;
  overflow: hidden;
}

.product-card__body {
  padding: 1.5rem;
}

.product-card__category {
  margin-top: 0;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.5ch;
}

.product-card__title {
  margin-top: 0;
  font-family: "Fraunces", serif;
  font-weight: 700;
  line-height: 1;
  color: var(--clr-dark);
}

.product-card__price {
  font-family: "Fraunces", serif;
  font-weight: 700;
  color: var(--clr-accent);
}

.product-card__price-old {
  text-decoration: line-through;
}

.product-card__btn-add-to-cart {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
